@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'FuturaBT-Medium';
    background: linear-gradient(to bottom right, #f4f7ffd5, #d6e2ff3e);
    height: max-content;
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 97vh;
    margin: 10px 0 10px 10px;
    padding: 50px 30px;
    align-items: center;
    width: max-content;
    border-radius: 20px;
    background-color: #E7EFFF;
    box-shadow: 4px 1px 10px 0.2px #bebebe71;

    /* penyebab overflow terletak pada log out button */
}

nav .logo img {
    margin-top: 30px;
    width: 50px;
}

nav .tab-bar div button {
    background-color: white;
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

nav .tab-bar div button img {
    width: 25px;
    height: 25px;
}

nav .tab-bar div:hover span {
    visibility: visible;
    opacity: 1;
}

nav .tab-bar div:hover button {
    background-color: #DEE8FF;
    outline: 1px solid white;
    transform: scale(1.2);
}

nav .tab-bar div span {
    z-index: 99;
    transition: font-weight 0.1s ease-in, transform 0.2s ease-in-out, color 0.2s ease;
    font-family: "poppins";
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    position: absolute;
    background-color: #DEE8FF;
    width: max-content;
    padding: 8px;
    color: black;
    left: 100px;
    border-radius: 5px;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    opacity: 0;
}

.tab-bar div span::before {
    content: " ";
    position: absolute;
    right: 100%;
    margin-left: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #DEE8FF transparent transparent;
}

nav .tab-bar div {
    cursor: pointer;
    display: flex;
    gap: 0.5em;
    margin-top: 35px;
    align-items: center;
    box-sizing: border-box;
}

nav .logout-tab button {
    display: flex;
    align-items: center;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.712);
    padding: 5px 10px;
    gap: 0.5em;
    background-color: #E7EFFF;
    transition: 2s ease-in-out;
}


.container {
    height: 100vh;
    width: 100%;
    padding-right: 50px;
    overflow: scroll;
    padding: 1em 4em 1em 2em;
    /* position: relative; */
}

.container::-webkit-scrollbar {
    display: none;
}

.container header {
    padding: 30px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between !important;

    width: 100;
}

.search {
    display: flex;
    align-items: center;
}

.container header .search input {
    background-position: left;
    background-repeat: no-repeat;
    padding: 20px 30px;
    outline: none;
    border: none;
    box-shadow: 4px 5px 10px #919191;
    width: 350px;
    height: 50px;
    border-radius: 15px;
    font-style: normal;
    letter-spacing: 1px;
}

.search input::placeholder {
    font-family: Arial;
}

.search span {
    transform: translateX(25px);
    font-size: 15px;
    color: grey;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1em;
}

.profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.profile span .gmail {
    font-size: 12px;
    font-weight: 500;
}

.MyActivity {
    display: flex;
    /* width: 50%; */
    justify-content: space-between;
    align-items: center;
}

.MyActivity .requestBook .goPage,
.MyActivity .continueReading .goPage {
    display: flex;
    justify-content: space-between;
}

.MyActivity .requestBook .goPage .go,
.MyActivity .continueReading .go {
    font-family: 'FuturaBT-Medium';
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.MyActivity .requestBook .goPage span a,
.MyActivity .continueReading span a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.MyActivity .requestBook .goPage span,
.MyActivity .continueReading span {
    margin-bottom: 5px;
}

.MyActivity .requestBook p,
.continueReading p {
    color: #8C8989;
    font-size: 11px;
    text-align: center;
    padding-top: 8px;
}

.MyActivity .requestBook,
.continueReading {
    background-color: #e7efff;
    width: 48%;
    padding: 30px 50px 22px 50px;
    box-shadow: 0px 10px 10px 0.2px #bebebe71;
    border-radius: 15px;
}

/* table side */
.MyActivity .requestBook table,
td,
th {
    border: 1px solid #e7efff;
    text-align: left;
}

.MyActivity .requestBook table tr th {
    font-size: 14px;
    font-weight: 500;
    background-color: #A8C2F6;
}

.MyActivity .requestBook table tr td {
    background-color: white;
}

.MyActivity .requestBook table {
    border-collapse: collapse;
    width: 100%;
}

.MyActivity .requestBook table .name,
.name {
    padding: 5px 10px;
    width: 280px;
    height: 25px;
}

.MyActivity .requestBook table .action,
.action {
    padding: 5px 10px;
    width: 150px;
}

/* close table side */

.MyActivity .continueReading .preview {
    display: flex;
    gap: 1.2em;
    align-items: center;
}

.MyActivity .continueReading .preview img {
    width: 90px;
    height: 129px;
    filter: brightness(85%);
    border-radius: 10px;
}

.preview .noImage {
    width: 90px;
    height: 129px;
    /* filter: brightness(85%);
    border-radius: 10px; */
    background-color: #f0f0f0;
    /* Warna latar belakang placeholder */
    display: inline-block;
}

.kategori {
    width: 100%;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.kategori div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 255px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70px;
    background-color: #8C8989;
    /* background-image: url(assets\homepage\priview\blue.jpg); */
    border-radius: 10px;
}

.kategori div p {
    font-size: 17px;
    color: white;
}

/* close my Activity W categories */

.container .popular {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.container .popular .book .cover {
    width: 150px;
    height: 230px;
    filter: brightness(80%);
    border-radius: 10px;
    border-bottom: 0;
    position: relative;
}

.cover .ratingInput {
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    bottom: 0;
    background-color: white;
    padding: 6px 7px;
    margin: 10px;
    border-radius: 5px;
    align-items: center;
}

.cover .ratingInput img {
    width: 12px;
    height: 12px;
}

.cover .ratingInput p {
    font-size: 10px;
    font-weight: bold;
}

.container .popular .book span div h1 {
    font-size: 20px;
}

.container .popular .book span {
    text-align: center;
}

.container .popular .book span div img {
    width: 80px;
}