@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    font-family: 'FuturaBT-Medium';
    background: linear-gradient(to bottom right, #f4f7ffd5, #d6e2ff3e );
    height: 100vh;
}

form{
    height: 100vh;
    width: 45%;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h1{
    font-size: 45px;
    margin-bottom: 10px;
}

form .descripsiSign{
    color: #696868;
    margin-bottom: 40px;
}

form .Email label, .Password label, .Username label{
    display: block;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}

form .Email, .Password, .Username{
    position: relative;
    margin-bottom: 20px;
}

form div input{
    width: 380px;
    height: 42px;
    border-radius: 30px;
    outline: none;
    border: none;
    box-shadow: 0 0 2px 1px #979595;
    /* margin-bottom: 30px; */
    padding: 0 10px;
    color: #000000;
    background-color: transparent;
}

form div .inputs{
    width: 100%;
    height: 100%;
    position: relative;
}

form div .icon{
    position: absolute;
    left: 0;
    bottom: 50%;
    padding-left: 10px;
}

form .Password .lock .passwordIcon span{
    cursor: pointer;
}

form .Password .passwordIcon #on{
    display: none;
}

form .Password .passwordIcon{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 50%;
    padding-right: 10px;
}

form button{
    width: 380px;
    height: 42px;
    border: none;
    outline: none;
    background-color: #A8C2F6;
    padding: 0 10px;
    font-family: "FuturaBT-Medium";
    font-size: 18px;
    border-radius: 30px;
    margin: 30px 0 25px 0px;
}

form p a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

form p a:hover{
    text-decoration: underline;
}

form div .hide-icon{
    display: none;
}

form div .inputs .hide-icon:first-child{
    display: none;
}

.detail{
    background-color: #a8c2f669;
    border-radius: 100%;
    box-shadow: 0 0 100px 400px #a8c2f669;
    position: absolute;
    width: 400px;
    height: 100%;
    right: 0;
    top: 10%;
}

.detail .img1{
    display: flex;
    transform: translatex(-50%);
}



